# Walmart Sales Data Analysis Project

### Import Libraries

In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

### Import the Walmart data set

In [2]:
df_walmart = pd.read_csv('Walmart.csv', encoding_errors='ignore')

In [3]:
df_walmart.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

### Data Cleaning and Preprocessing

In [4]:
# Checking for the dataframe info

df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [5]:
# Checking for missing values

df_walmart.isna().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [6]:
# Dropping missing values

df_walmart.dropna(axis= 0 , inplace= True)

In [7]:
df_walmart.shape

(10020, 11)

In [8]:
df_walmart.isna().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [9]:
# Checking for duplicates

df_walmart.drop_duplicates(inplace=True)

In [10]:
df_walmart.shape

(9969, 11)

In [11]:
# Changing the data type of unit price column
# Since the unit_price column contains $ symbol , So we need to remove it first 
# And then change the data type

df_walmart['unit_price'] = df_walmart['unit_price'].str.replace('$', '').astype('float64')

In [12]:
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [13]:
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [14]:
# Adding invoice_total column

df_walmart['invoice_total'] = round( (df_walmart['unit_price'] * df_walmart['quantity'] ),2 )

In [15]:
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,invoice_total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [16]:
# Adding total_profit column

df_walmart['total_profit'] = round( (df_walmart['invoice_total'] * df_walmart['profit_margin'] ),2 )

In [17]:
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,invoice_total,total_profit
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83,250.96
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40,36.67
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31,107.02
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76,153.70
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17,290.00

In [18]:
# Changing the date column data type from object to date time format

df_walmart['date'] = pd.to_datetime(df_walmart['date'], format ='%d/%m/%y')

In [19]:
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   datetime64[ns]
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  invoice_total   9969 non-null   float64
 12  total_profit    9969 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1), object(5)
memory usage: 1.1+ MB

In [20]:
# Adding month name column

df_walmart['month'] = df_walmart['date'].dt.month_name()

In [21]:
# Adding year column

df_walmart['year'] = df_walmart['date'].dt.year

In [22]:
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   datetime64[ns]
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  invoice_total   9969 non-null   float64
 12  total_profit    9969 non-null   float64
 13  month           9969 non-null   object
 14  year            9969 non-null   int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(6)
memory usage: 1.2+ MB

In [23]:
df_walmart.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,invoice_total,total_profit,month,year
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83,250.96,January,2019
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40,36.67,March,2019
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31,107.02,March,2019
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76,153.70,January,2019
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17,290.00,February,2019

In [24]:
df_walmart['year'].unique()

array([2019, 2022, 2020, 2023, 2021], dtype=int32)

In [25]:
df_walmart['quantity'].unique()

array([ 7.,  5.,  8.,  6., 10.,  2.,  3.,  4.,  1.,  9.])

In [26]:
df_walmart.columns = df_walmart.columns.str.lower()

In [27]:
df_walmart.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   branch          9969 non-null   object
 2   city            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   datetime64[ns]
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
 11  invoice_total   9969 non-null   float64
 12  total_profit    9969 non-null   float64
 13  month           9969 non-null   object
 14  year            9969 non-null   int32
dtypes: datetime64[ns](1), float64(6), int32(1), int64(1), object(6)
memory usage: 1.2+ MB

In [28]:
df_walmart['category'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

In [29]:
engine_psql = create_engine('postgresql+psycopg2://postgres:password@localhost:5432/Walmart_db')

In [30]:
df_walmart.to_sql(name = 'walmart', con=engine_psql, if_exists='replace', index = False)

969

In [31]:
df_walmart.to_csv('walmart_cleaned_dataset.csv', index=False)